.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background: #F1EFED;
}

.categorySvg {
  height: 80px;
  width: 80px;
  margin-bottom: 1.5rem;
}

.categoryCard {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  height: 100%;
  transition: all 0.2s ease;
  margin: 1rem;
}

.categoryCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categoryCard h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #31363B;
}

.categoryCard p {
  color: #666;
  margin: 0;
  font-size: 1rem;
}
